//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================
$primary: #79bb7b; // Changing primary color
$indicacao-color: #ffa500;
$whatsapp-color: #34af23;
$instagram-color: #3f729b;
$facebook-color: #3b5998;
$telegram-color: #e0cfb1;
$email-color: #FF0000;
$telefone-color: #993399;
$outros-meios-color: #87cefa
